.login-background {
  position: relative;
  z-index: 1;
  padding-top: 10%;
}

.login-background .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/background.jpeg");
  opacity: 0.5;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
