.input-border {
  border-color: #660090 !important;
}

.inputLabel {
  color: #660090 !important;
}

.account-background {
  position: relative;
  z-index: 1;
  padding-top: 10%;
}

.account-background .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #660090;
  opacity: 0.2;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
